<div class="row ">
   <h1>Najsłynniejsi polscy poeci</h1>
</div>

<div class="row">

<h2> XX / XXI wiek </h2>
<br>

<h3> Pokolenie "Nowej fali"</h3>

<table class="table table-hover table table-striped ">
  <thead>
    <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" >Lata</th>
 
      <th  class="text-center" >Link</th>

    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td class="text-center "><br>Barańczak</br></td>
         <td class="text-center "><br>Stanisław</br></td>

        <td class="portrait"><img class="round-image" src="/assets/baranczak.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"></td>

        <td class="text-center"> <a href="http://literatura.wywrota.pl/stanislaw-baranczak/"><br>Czytaj</br></a></td>
     
      </tr>
        
 	<!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1946 -<br> zm. 2014</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>


       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Kornhauser</br></td>
         <td class="text-center "><br>Julian</br></td>

        <td class="portrait" ><img  src="/assets/kornhauser.jpg" alt="..." height="70px;" width="70px;"></td>
        <td class="text-center"> <a href="http://wiersze.pl/autor/979/kornhauser-julian.html"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1946 </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>



    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Krynicki</br></td>
         <td class="text-center "><br>Ryszard</br></td>

        <td class="portrait" ><img  src="/assets/krynicki.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://zeszytypoetyckie.pl/poezja/1381-ryszard-krynicki"><br>Czytaj</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1943 </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Lipska</br></td>
         <td class="text-center "><br>Ewa</br></td>

        <td class="portrait" ><img  src="/assets/lipska.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://literatura.wywrota.pl/ewa-lipska/"><br>Czytaj</br></a></td>
      </tr>


 	<!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1945 </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Zagajewski</br></td>
         <td class="text-center "><br>Adam</br></td>

        <td class="portrait" ><img  src="/assets/zagajewski.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1945 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>

      </tbody>
      </table>


      <!--///////////////////////////////////////////////-->
      <!--pokoloenie współczesności -->

      <h3> Pokolenie "Współczesności"</h3>
<table class="table table-hover table table-striped ">
  <thead>
    <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" >Lata</th>
 
      <th  class="text-center" >Link</th>

    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td class="text-center "><br>Białoszewski</br></td>
         <td class="text-center "><br>Miron</br></td>

        <td class="portrait"><img class="round-image" src="/assets/bialoszewski.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://www.poezjaa.info/index.php?p=2&a=5&u=87"><br>Czytaj</br></a></td>
     
      </tr>
        
  <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1935 - zm. 1983</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>


       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Bryll</br></td>
         <td class="text-center "><br>Ernest</br></td>

        <td class="portrait" ><img  src="/assets/bryll.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://bryll.pl/category/wiersze-archive/"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1946</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>



    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Grochowiak</br></td>
         <td class="text-center "><br>Stanisław</br></td>

        <td class="portrait" ><img  src="/assets/grochowiak.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://literatura.wywrota.pl/stanislaw-grochowiak/"><br>Czytaj</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1934 - zm. 1976
         </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Harasymowicz</br></td>
         <td class="text-center "><br>Jerzy</br></td>

        <td class="portrait" ><img  src="/assets/harasymowicz.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://literatura.wywrota.pl/harasymowicz-jerzy/"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1933 - zm. 1999 </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Herbert</br></td>
         <td class="text-center "><br>Zbigniew</br></td>

        <td class="portrait" ><img  src="/assets/herbert.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://herbert.polskieradio.pl/#&panel1-3&panel2-1&panel3-1&panel4-1&panel5-1&panel6-1
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1924 - zm. 1998 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>


      <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Rymkiewicz</br></td>
         <td class="text-center "><br>Jarosław <br>Marek</br></td>

        <td class="portrait" ><img  src="/assets/rymkiewicz.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://culture.pl/pl/tworca/jaroslaw-marek-rymkiewicz
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1924 - zm. 1998 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>

      <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Stachura</br></td>
         <td class="text-center "><br>Edward</br></td>

        <td class="portrait" ><img  src="/assets/stachura.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href=" http://literatura.wywrota.pl/edward-stachura/
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1937 - zm. 1979 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>




      </tbody>
      </table>


      <!-- pokolenie kolumbów -->

      <h3> Pokolenie "Kolumbów"</h3>
<table class="table table-hover table table-striped ">
  <thead>
    <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" >Lata</th>
 
      <th  class="text-center" >Link</th>

    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td class="text-center "><br>Baczyśki</br></td>
         <td class="text-center "><br>Krzysztof<br> Kamil<br></td>

        <td class="portrait"><img class="round-image" src="/assets/baczynski.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://www.baczynski.art.pl/wiersze/"><br>Czytaj</br></a></td>
     
      </tr>
        
  <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1921 -<br>1944</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

 <tr>
        <td class="text-center "><br>Białoszewski</br></td>
         <td class="text-center "><br>Miron</br></td>

        <td class="portrait"><img class="round-image" src="/assets/bialoszewski.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://www.poezjaa.info/index.php?p=2&a=5&u=87"><br>Czytaj</br></a></td>
     
      </tr>
        
  <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1935 -<br> 1983</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>


    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Bojarski</br></td>
         <td class="text-center "><br>Wacław</br></td>

        <td class="portrait" ><img  src="/assets/bojarski.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://requiem1944.bloog.pl/id,5484648,title,Hymn-Waclaw-Bojarski,index.html?smoybbtticaid=615182"><br>Czytaj</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1921 - <br> 1943
         </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Borowski</br></td>
         <td class="text-center "><br>Tadeusz</br></td>

        <td class="portrait" ><img  src="/assets/borowski.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://literatura.wywrota.pl/borowski-tadeusz/"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1922 -<br> 1951 </td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Gajcy</br></td>
         <td class="text-center "><br>Tadeusz</br></td>

        <td class="portrait" ><img  src="/assets/gajcy.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://www.sppw1944.org/index.html?http://www.sppw1944.org/poezja/poezja_gajcy.html
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1922 -<br> 1944 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>

 <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Herbert</br></td>
         <td class="text-center "><br>Zbigniew</br></td>

        <td class="portrait" ><img  src="/assets/herbert.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://herbert.polskieradio.pl/#&panel1-3&panel2-1&panel3-1&panel4-1&panel5-1&panel6-1
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1924 -<br>1998 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>

       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Miłosz</br></td>
         <td class="text-center "><br>Czesław</br></td>

        <td class="portrait" ><img  src="/assets/miłosz.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="  http://www.milosz.pl/przeczytaj/poezja
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1911 -<br>2004 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>






      <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Różewicz</br></td>
         <td class="text-center "><br>Tadeusz</br></td>

        <td class="portrait" ><img  src="/assets/rozewicz.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://literatura.wywrota.pl/tadeusz-rozewicz/
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>
        <td class="portrait" >ur. 1921 -<br>2014 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>

      <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Szymborska</br></td>
         <td class="text-center "><br>Wisława</br></td>

        <td class="portrait" ><img  src="/assets/szymborska.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="  http://www.szymborska.org.pl/wiersze-wybrane.html
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1923 -<br>2012 </td>
     <br></br></a></td>
      </tr>

      <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Wojtyła</br></td>
         <td class="text-center "><br>Karol</br></td>

        <td class="portrait" ><img  src="/assets/wojtyla.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="  http://lorawa.internetdsl.pl/dokumenty/wyb_poezji.pdf
"><br>Czytaj</br></a></td>
      </tr>


  <!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur. 1920 -<br>2005 </td>
        <td class="text-center"> <a href="http://cyfroteka.pl/ebooki/Wiersze_wybrane-ebook/p85366i119150"><br></br></a></td>
      </tr>






      </tbody>
      </table>









<!-- //////////////////// -->

      <br>
      <h2>I poł.XX wieku - Dwudziestolecie międzywojenne </h2>
      <br>
      <br>

      <table class="table table-hover table table-striped ">
	  <thead>
	      <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" ></th>
 
      <th  class="text-center" >Link</th>

    </tr>
	  </thead>


      <tbody>
    
      <tr>
        <td class="text-center "><br>Lechoń</br></td>
         <td class="text-center "><br>Jan</br></td>

        <td class="portrait"><img class="round-image" src="/assets/lechon.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://www.poezja.org/index.php?akcja=wierszeznanych&kto=Lecho%F1%20Jan&ak=pokaz"><br>Czytaj</br></a></td>
     
      </tr>
        
 
 	<!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1899- zm.1956</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Leśmian</br></td>
         <td class="text-center "><br>Bolesław</br></td>

        <td class="portrait" ><img  src="/assets/lesmian.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://www.twojecentrum.pl/poezja_piekna.php?autor=Boles%B3aw%20Le%B6mian"><br>Czytaj</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1877- zm.1937</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

       <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Pawlikowska<br>Jasnorzewska</br></td>
         <td class="text-center "><br>Maria</br></td>

        <td class="portrait" ><img  src="/assets/pawlikowska.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href=" http://www.poezja.org/index.php?akcja=wierszeznanych&kto=Pawlikowska-Jasnorzewska&ak=pokaz"><br>Czytaj</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1891- zm.1945</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>





    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Tuwim</br></td>
         <td class="text-center "><br>Jan</br></td>

        <td class="portrait" ><img  src="/assets/tuwim.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href=" http://literatura.wywrota.pl/julian-tuwim/"><br>Czytaj</br></a></td>
        <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1894- zm.1953</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>


    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Staff</br></td>
         <td class="text-center "><br>Leopold</br></td>

        <td class="portrait" ><img  src="/assets/staff.jpg" alt="..." height="70px;" width="70px;"
     ></td>
        <td class="text-center"> <a href="http://www.twojecentrum.pl/poezja_piekna.php?autor=Leopold%20Staff"><br>Czytaj</br></a></td>
        <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >ur.1878-zm. 1957</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>



   
      </tbody>
</table>


<!-- młoda polska -->
    <p>Znasz tą stronę? Sprawdź się <a href=" http://fiszkoteka.pl/zestaw/1692-slynni-polscy-pisarze-i-poeci#"><br>Fiszkoteka</br></a>


      <p>
       <%=link_to "Początek listy", inspiration_path, class: 'brand' %> |
        <%= link_to "Strona główna", posts_path %>
     </p>

</div>