<div class="row ">
 <h1>Najsłynniejsi polscy poeci</h1>


</div>
<div class="row">
<table class="table table-hover table table-striped ">
  <thead>
    <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" >Lata</th>
 
      <th  class="text-center" >Link</th>

    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait"><img class="round-image" src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
     
      </tr>
        
 
 	<!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >1900-1800</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait" ><img  src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >1900-1800</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait" ><img  src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
      </tr>


 	<!--  wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >1900-1800</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>

      </tbody>
      </table>

      <table>

      <h2>XX wiek</h2>

      <table class="table table-hover table table-striped ">
	  <thead>
	      <tr>
     
      <th class="text-center" >Nazwisko</th>
      <th class="text-center" >Imię</th>
      <th class="text-center" ></th>
 
      <th  class="text-center" >Link</th>

    </tr>
	  </thead>


      <tbody>
    
      <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait"><img class="round-image" src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;" style="vertical-align:middle"
 ></td>

        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
     
      </tr>
        
 
 	<!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >1900-1800</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait" ><img  src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
      </tr>

      <!-- drugi wers pusty -->
      <tr>
        <td class="text-center "><br></br></td>
         <td class="text-center "><br></br></td>

        <td class="portrait" >1900-1800</td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br></br></a></td>
      </tr>
    <!-- drugie nazwisko -->
       <tr>
        <td class="text-center "><br>Adam</br></td>
         <td class="text-center "><br>Mickiewicz</br></td>

        <td class="portrait" ><img  src="/assets/mickiewicz.jpg" alt="..." height="70px;" width="70px;"
		 ></td>
        <td class="text-center"> <a href="http://w-zaciszu-biblioteki.blogspot.com/2013/04/najlepsi-polscy-poeci-xx-wieku-ranking.html"><br>Matka</br></a></td>
      </tr>
      </tbody>
</table>

</div>