<div class="row ">
 <h1>Materiały żródłowe</h1>


</div>
<div class="row">
<table class="table table-hover table table-striped ">
  <thead>
    <tr>
     
      <th class="text-center" ></th>
      <th class="text-center" >Linki</th>
    
 


    </tr>
  </thead>


   <tbody>
    
      <tr>
      	<td class="text-center "><br>Zdjęcie "jesień" w sliderze, autor:nieznany</br></td>
        <td class="text-center "><br><a href="http://wallpaperswide.com/autumn_road_2-wallpapers.html"></i>www.wallpaperswide.com/autumn</a></br></td>
      </tr>

       <tr>
      	<td class="text-center "><br>Zdjęcie "zima" w sliderze, autor:nieznany</br></td>
        <td class="text-center "><br><a href="http://wallpaperswide.com/winter_morning_light-wallpapers.html"></i>www.wallpaperswide.com/winter</a></br></td>
      </tr>

        <tr>
      	<td class="text-center "><br>Zdjęcie "wiosna" w sliderze, autor:nieznany</br></td>
        <td class="text-center "><br><a href="http://www.wallpaperfo.com/Nature/Forest/nature_trees_forest_path_woods_sunlight_2560x1024_wallpaper_25968"></i>www.wallpaperfo.com/nature</a></br></td>
      </tr>

        <tr>
      	<td class="text-center "><br>Zdjęcie "lato" w sliderze, autor:nieznany</br></td>
        <td class="text-center "><br><a href="https://wallpaperscraft.com/download/field_autumn_balloons_flight_colors_paints_sun_light_evening_decline_53984/2560x1024"></i>www.wallpaperscraft.com/field</a></br></td>
      </tr>

        <tr>
      	<td class="text-center "><br>Zdjęcie w tle "motyle"</br></td>
        <td class="text-center "><br><a href="https://hdwallpapers.cat/two_butterflies_went_out_at_noon_flower_hd-wallpaper-1875828/"></i>www.hdwallpapers.cat</a></br></td>
      </tr>

      <tr>
      	<td class="text-center "><br>Slider</br></td>
        <td class="text-center "><br><a href="http://getbootstrap.com/examples/carousel/"></i>www.getbootstrap.com/examples/carousel/</a></br></td>
      </tr>



    </tbody>
   

</table>
</div>