@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

body {
	margin: 0px;

	
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


/* Posts */

/* .postf { background-color: #FFEEBB;} */

 .bodypost {
    padding: 0px 500px 7px 500px;

 }

 .datepost {
      padding: 0 500px 0 500px;
 }

 .titlepost {
    padding: 30px 500px 0 500px;
 }

 .button2 {
    padding: 0 1px 0 600px;
 }


/* Slider */

 .carousel {
    margin: 0px;
 }


/* image na About us */
#profile_image {
    margin: 100px;
}

#content {
    margin: 100px;
}

/* layout logowania*/

#page_wrapper {
    margin: 100px;
}


/*Stopka*/
.panel-footer {
    background-color: black;
    margin-top: 200px;
}




.title_category {
    margin-top: 10px;
    margin-left: 100px;
     
}

.category {
    margin-top: 100px;
}

.post_wrapper {
    margin: 100px;
}

.post-one {
     text-align: center;
     margin-top: 1%;
}

.comments {
    margin: 100px;
}


/*box komentarzy*/
.media-body {
  width:100%;
  border:3px solid #EEE;
  padding:15px;
  background-color:#EEE;
}

/* Kolory pasów*/
.erotyk {
    width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #ff7445);

}

.aforyzm {
    width:100%;
    height: 250px;
    margin:0px;
     background-image:linear-gradient(white, #bbccff);

}

.limeryk {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #834d27);

}

.wiersz {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #ffeebb);
   
}

.haiku {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #c1e764);
   
}


/*widok na liste userów*/

.rowmain {
    margin: 500px;  
}
.row {
    margin: 5%;
}


.control-l {
  margin-left: 180px;
}