@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

html, body {
	margin: 0px;	
  height: 100%;
  width: 100%;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}



.first {
  color: white;
  background-color: #333333;
}

.cell {
  background-color: #f9f9f9;
}

/* próba wprowadzenia gradientu jako tła */
.poems-list {

   background-image:linear-gradient(white, #ddb923, #b68248, #c09261 , #dcb857,  #dcb22a);
  
    height: 650px;
}



/* Posts */

/* .postf { background-color: #FFEEBB;} */

 .bodypost {
    padding: 0px 500px 7px 500px;

 }

 .datepost {
      padding: 0 500px 0 500px;
 }

 .titlepost {
    padding: 30px 500px 0 500px;
 }

 .button2 {
    padding: 0 1px 0 600px;
 }


/* Slider */

 .carousel {
    margin: 0px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);
 }


/* image na About us */
#profile_image {
    margin: 100px;
}

#content {
    box-sizing: border-box;
    padding-top: 100px;
    margin-left: 150px;
}

/* layout logowania*/

#page_wrapper {
    margin: 100px;
}


/*Stopka*/
.panel-footer {
    background-color: rgb(0, 0, 0);;
    border-color: #090909;
    width:100%;
    color: rgb(255, 255, 255);
    
  

    font-size: 13px;
    text-transform: none;
  }
 




.title_category {
    margin-top: 10px;
    margin-left: 100px;
     
}

.category {
    margin-top: 100px;
}

.post_wrapper {
      min-height: 100%;
}

.body-post{
    margin-left: 40%;

}

.title-post {
  margin-left: 41%;
  font-size: 28px;
 

}

.post-show {
  padding-top: 4%;
}

.comments {
    margin: 5%;
    margin-bottom: 0px;
}


/*box komentarzy*/
.media-body {
  width:100%;
  border:3px solid #EEE;
  padding:15px;
  background-color:#EEE;
}

/* Kolory pasów*/
.erotyk {
    width:100%;
    height: 100%;
    min-height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #ff7445);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

}

.aforyzm {
    width:100%;
    height: 100%;
    min-height: 250px;
    margin:0px;
     background-image:linear-gradient(white, #bbccff);
   box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

}

.limeryk {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #dab463 );
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

}

.wiersz {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #e5a330);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

   
}

.haiku {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #c1e764);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
   
}

/* Widok na pojedynczy wiersz*/

.erotyk_show {
  
    margin-top: -215px;
    margin-left: 180px;
    margin-right: 5%;
    min-height: 500px;
    padding-bottom: 50px;
    background-image:linear-gradient(white, #ff7445);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);

}

.aforyzm_show {
    margin-top: -210px;
    margin-left: 180px;
    margin-right: 5%;
    min-height: 500px;
    padding-bottom: 50px;
    background-image:linear-gradient(white, #bbccff);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);

}

.limeryk {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #dab463 );

}

.wiersz_show {
    
    margin-top: -215px;
    margin-left: 180px;
    margin-right: 5%;
    min-height: 500px;
    padding-bottom: 50px;
    background-image:linear-gradient(white, #e5a330);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);
   
}

.haiku {
     width:100%;
    height: 250px;
    margin:0px;
    background-image:linear-gradient(white, #c1e764);
   
}


/*widok na liste userów*/

.rowmain {
    margin: 500px;  
}
.row {
    margin: 5%;
}


.control-l {
  margin-left: 180px;
}

.alert{
  margin-top: 50px;
  margin-bottom: 0px;
}

.register {
  background-color: red;

}

.login, .registration {
 background-image: url("/assets/las.jpg");
    min-height: 100%;
    margin-top: -41px;
 
}

.about {
  background-image: url("/assets/two-butter.jpg");
  min-height: 100%;
  margin-top: -41px;
 
}

.panel-body {
  padding: 0%;
}

.dane{
  margin-left: 5%;
  margin-top: 6%;

}
.poem {
  background-image: url("/assets/two-butter.jpg");
  }

/*zdjęcia w tabeli poetow*/
.portrait {

    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);

}

.heading {
  margin-top:120px;
  margin-left: 5%;
}
